body {
    background-image: url("../images/park-7386978_1280.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.animation-oiseau{
    animation: vole 5s linear infinite;
}

@keyframes vole {
    from {
      margin-right: 85%;
      margin-top: -40%;
      width: 8%;
    }
    30%{
        margin-top: 4%;
        width: 25%;
    }
    60%{
        margin-top: 4%;
        width: 18%;
    }
    to {
      margin-right: -80%;
      margin-top: -10%;
      width: 8%;
    }
  }

  .soleil{
    margin-top: 30px;
  }

.accueil {
    font-family: "Barriecito", system-ui;
    text-align: center;
    margin: 0px 50px 0px 50px;
    text-decoration: none;
    font-weight:900;
    font-size: 40px;
    padding-bottom: 40px;
    color: #000000;
}