*{
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}
body{
    text-align: center;
}
h1{
    font-size: 40px;
    font-weight: 700;
    color: brown;
    line-height: 3;
}
h2{
    font-size: 26px;
    font-weight: 400;
    line-height: 80px;
}
h3{
    font-size: 26px;
    color: brown;
    line-height: 30px;
    padding-top: 30px;
}
a{
    font-size: 16px;
}



/* barre de navigation */
.navbar{
    background: rgb(255, 255, 255);
    color: azure;
    text-align: center;
    padding: 30px 0px 40px 0px;
    margin-bottom: 50px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.oiso{
    width: 100px;
    padding-bottom: 20px;
}
.menu {
    text-align: center;
    margin: 0px 50px 0px 50px;
    text-decoration: none;
    font-weight: 400;
    font-size: 26px;
    padding-bottom: 40px;
    color: #000000;
}
.selection{
    text-align: center;
    margin: 0px 50px 0px 50px;
    font-size: 26px;
    padding-bottom: 40px;
    font-weight:900;
    color: brown;
}
.trait {
    color: #000000;
    font-weight: 200;
    font-size: 40px;
}


/* body */
.conteneur{
    width: 60%;
}
.bandeau{
    width: 500px;
    height: 75px;
    border-radius: 10px 0px 10px 0px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
.article{
    width: 550px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    /* padding: 40px 0px; */
    text-align: justify;
}

.cardpingouin{
    display: flex;
    align-content: center;
    align-items: center;
    width: 700px;
    border-radius: 10px 0px 10px 0px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
    margin-top: 50px;
}
.photopingouin{
    width: 200px;
    height: 200px;
}
.imgpingouin{
    width: 200px;
    height: 200px;
    border-radius: 10px 0px 0px 0px;
}
.tableau1{
    width: 250px;
    font-size: 20px;
    text-align: left;
    margin-left: 20px;
    line-height: 1.5;
}
.tableau2{
    width: 250px;
    font-size: 20px;
    text-align: left;
    line-height: 1.5;
}

footer{
    background-color: antiquewhite;
    padding-top: 20px;
    margin-top: 120px;
}

.blocsite{
    height: 60px;
    padding: 10px;
}
.textesite{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color:brown;
}

.summary{
    width: 700px;
    padding-bottom: 60px;
}
.titresummary{
    width: 600px;
    font-size: 30PX;
    color: brown;
    padding: 20px 0px 0px 0px;
}
.txtsummary{
    font-size: 16px;
    text-align: justify;
}

.tableau3{
    width: 700px;
    height: 200px;
    padding-top: 20px;
}
.titretableau{
    background-color:brown;
    color: aliceblue;
    font-size: 20px;
    height: 40px;
    padding-top: 10px;
}
.soustitretableau{
    font-size: 18px;
    color: brown;
    height: 40px;
}
.lignecouleur{
    background-color: bisque;
}

.video, .audio{
    margin-top: 20px;
    width: 600px;
}

.blocorange{
    width: 100%;
    height: 603px;
    background-color: #FFF5E1 ;
}